$numberOfGradients: 50; // Define the number of gradients you want

@for $i from 1 through $numberOfGradients {
  $opacity: calc($i / $numberOfGradients);
  .gradient-#{$i - 1} {
    background: rgba(0, 0, 0, $opacity);
  }
}

.result {
  background: rgb(18, 121, 198, 0.4);
}

.result-dark {
  background: rgba(255, 138, 36, 0.4);
}
