.myInlineDecoration-0 {
	background: rgba(255, 192, 203, 0.25);
}
.myInlineDecoration-1 {
	background: rgba(255, 218, 185, 0.25);
}
.myInlineDecoration-2 {
	background: rgba(255, 255, 153, 0.25);
}
.myInlineDecoration-3 {
	background: rgba(173, 255, 153, 0.25);
}
.myInlineDecoration-4 {
	background: rgba(221, 160, 221, 0.25);
}
.myInlineDecoration-5 {
	background: rgba(173, 216, 230, 0.25);
}

.myInlineDecorationHeader-0 {
	background: rgba(255, 192, 203, 1);
}
.myInlineDecorationHeader-1 {
	background: rgba(255, 218, 185, 1);
}
.myInlineDecorationHeader-2 {
	background: rgba(255, 255, 153, 1);
}
.myInlineDecorationHeader-3 {
	background: rgba(173, 255, 153, 1);
}
.myInlineDecorationHeader-4 {
	background: rgba(221, 160, 221, 1);
}
.myInlineDecorationHeader-5 {
	background: rgba(173, 216, 230, 1);
}