.myInlineDecoration-0 {
	background: rgba(255, 192, 203, 0.5);
}
.myInlineDecoration-1 {
	background: rgba(255, 218, 185, 0.5);
}
.myInlineDecoration-2 {
	background: rgba(255, 255, 153, 0.5);
}
.myInlineDecoration-3 {
	background: rgba(173, 255, 153, 0.5);
}
.myInlineDecoration-4 {
	background: rgba(221, 160, 221, 0.5);
}
.myInlineDecoration-5 {
	background: rgba(173, 216, 230, 0.5);
}
